<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{{ ASSET_PATH }}/js/html5-sticky-footer.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <link href="{{ ASSET_PATH }}/css/html5-sticky-footer.css" rel="stylesheet" type="text/css" media="all">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <link href="{{ ASSET_PATH }}/css/mellow.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <script src="{{ ASSET_PATH }}/js/jquery-2.0.3.min.js"></script>

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>

    <div class="wrapper">

      <div class="container all-content">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <a href="{{ BASE_PATH }}/index.html">
                <div class="name">mellow pages</div>
                <div class="desc">library &amp; reading room</div>
              </a>
            </div>
            <div class="navboxes">
              <div class="navbox-container" id="main-top-nav">
                <span class="navbox"><a href="{{ BASE_PATH }}/about.html">About</a></span>
                <span class="navbox"><a href="https://www.goodreads.com/review/list/17277906?shelf=%23ALL%23" target="_blank">Catalog</a></span>
              </div>

              <div class="navbox-container" id="main-bottom-nav">
                <span class="navbox"><a href="{{ BASE_PATH }}/mailing/">Mail</a></span>
                <span class="navbox"><a href="{{ BASE_PATH }}/calendar.html">Calendar</a></span>
              </div>

              <div class="navbox-container">
                <span class="navbox">
                  <a href="https://www.facebook.com/MellowPagesLibrary?ref=hl" target="_blank">
                    <i class="fa fa-facebook">
                    </i> 
                  </a>
                </span>
                <span class="navbox">
                  <a href="https://twitter.com/MellowPagesBK" target="_blank">
                    <i class="fa fa-twitter">
                    </i> 
                  </a>
                </span>
                <span class="navbox">
                  <a href="http://mellowpageslibrary.tumblr.com/" target="_blank">
                    <i class="fa fa-tumblr">
                    </i>
                  </a>
                </span>
                <span class="navbox">
                  <a href="http://instagram.com/mellowpageslibrary" target="_blank">
                    <i class="fa fa-instagram">
                    </i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 content">
              {{ content }}
          </div>
          <div class="col-md-2">
          </div>

        </div>
      </div>
      
      <div class="push"></div>
    </div>

    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
    </footer>

    {% include JB/analytics %}

  </body>
</html>
