@font-face {
  font-family: myHelveticaLight;
  src: local("Helvetica Neue Light"), local("HelveticaNeue-Light");
}
body {
  background: #302e2d url('../img/CameronBlaylock_MellowPages_forweb-2.jpg') center top no-repeat;
  background-size: cover;
}
a {
  color: #bc902e;
}
a:hover,
a:focus {
  color: #428bca;
  text-decoration: none;
}
.all-content {
  width: auto;
}
footer {
  margin-left: 30px;
}
footer p {
  color: #bc902e;
}
.logo {
  font-family: myHelveticaLight, 'Helvetica Neue', Helvetica, Arial;
  font-style: italic;
  font-weight: 200;
  margin: 20px auto auto 20px;
  color: #bc902e;
  height: 240px;
  width: 240px;
  border: 20px solid #302e2d;
  border-radius: 50%;
}
.logo .name,
.logo .desc {
  background-color: #302e2d;
  padding: auto 10px;
}
.logo .name {
  letter-spacing: -1px;
  margin-top: 50px;
  padding-top: 23px;
  font-size: 34px;
  line-height: 34px;
}
.logo .desc {
  font-size: 10px;
  line-height: 10px;
  padding-bottom: 23px;
  margin-bottom: 50px;
}
.navboxes {
  margin-top: 10px;
  margin-left: 30px;
}
.navbox span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #302e2d;
  color: #bc902e;
  font-style: italic;
  font-size: 18px;
  line-height: 18px;
  margin: 20px 0px;
  padding: 5px 8px;
  width: auto;
  display: inline-block;
  height: 30px;
}
.navbox span i {
  padding-left: 10px;
  padding-right: 10px;
}
.content {
  margin-top: 90px;
  padding-bottom: 20px;
  background-color: #bc902e;
  color: #302e2d;
  font-size: 18px;
  line-height: 24px;
}
.content .page-header {
  margin-top: 20px;
  border-bottom-color: #302e2d;
}
.content h1 {
  color: #302e2d;
  font-style: italic;
}
@media (min-width: 992px) {
  .navboxes {
    max-width: 240px;
  }
  .navboxes .navbox {
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .content h1 {
    padding-top: 20px;
  }
}
